*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/AndroidManifest.xml
app/src/main/AndroidManifest.xml
app/src/main/java/com/example/intents/sapne/MainActivity.java
app/src/main/res/values/colors.xml
