<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ngo.sapne.intents.sapne">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Sapne"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Notifications" />
        <activity
            android:name=".RegisterUser"
            android:label="Sign up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:label="Sapne User Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="Sign in"
            android:screenOrientation="portrait" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Grid1Activity" />
        <activity android:name=".Grid2Activity" />
        <activity android:name=".Grid3Activity" />
        <activity android:name=".Grid4Activity" />
        <activity android:name=".Grid5Activity" />
        <activity android:name=".Grid6Activity" />
        <activity android:name=".Grid7Activity" />
        <activity android:name=".Grid8Activity" />
        <activity android:name=".GridActivity"></activity>
    </application>

</manifest>