<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ngo.sapne.intents.sapne">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_logo"
        android:label="Sapne"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name="ngo.sapne.intents.sapne.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="ngo.sapne.intents.sapne.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ngo.sapne.intents.sapne.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ngo.sapne.intents.sapne.Notifications" />
        <activity android:name="ngo.sapne.intents.sapne.JoinUs" />

        <activity android:name="ngo.sapne.intents.sapne.RegisterUser"
                  android:label="Sign up"
                  android:screenOrientation="portrait"
            />
        <activity android:name="ngo.sapne.intents.sapne.ProfileActivity"
                  android:label="Sapne User Information"
                  android:screenOrientation="portrait"
            />
        <activity android:name="ngo.sapne.intents.sapne.LoginActivity"
                  android:label="Sign in"
                  android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="ngo.sapne.intents.sapne.Products"
            android:label="Products"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ngo.sapne.intents.sapne.RegularCamps"
            android:label="Regular camps "
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="ngo.sapne.intents.sapne.OurVolunteers"
            android:label="Our Team"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>